@use '_variables.scss' as *;


@mixin bluegradient {
  background-image: linear-gradient(to bottom, #0a1852 0, #01002f 100%);
  color: white;
}

@mixin redgradient-vertical {
  background-image: linear-gradient(to bottom, #B6246E 0, #F9636B 100%);
}

@mixin redgradient-horizontal {
  background-image: linear-gradient(to right, #B6246E 0, #F9636B 100%);
}




@mixin caption {
  margin: $medium-size 0;
  color: #03A7D3E6;
  font-size: 0.9rem;
}