@use './partials/_variables.scss' as *;
@use './partials/_mixins.scss' as *;
@use './partials/_mixins.scss' as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



// UTILS PROPS

section:nth-of-type(even) {
  background-image: linear-gradient(to bottom, #0a1852 0, #01002f 100%);
  color: white;
}
