@use './partials/_variables.scss' as *;
@use './partials/_mixins.scss' as *;
@use './partials/_mixins.scss' as *;

// Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  font-size: 1.1rem;
  font-weight: bold;
}


ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #F9636B;
}

.btn {
  border-radius: 25px;
  --bs-btn-padding-x: 1.2rem;

  &.btn-primary {
    background-image: linear-gradient(to right, #03A7D3E6 0, #1d3e82 100%);
    border: 0;
  }

  &.btn-danger {
    background-image: linear-gradient(to right, #B6246E 0, #F9636B 100%);

    &.vertical {
      background-image: linear-gradient(to bottom, #B6246E 0, #F9636B 100%);
    }
  }

  &:hover {
    filter: brightness(1.2);
  }
}

p {
  margin-bottom: 0;
}


// UTILS PROPS

section:nth-of-type(even) {
  @include bluegradient;
}


//MEDIA QUERY

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1180px;
  }
}